@font-face{
    font-family: Grotesk;
    src: url(/fonts/NHaasGroteskTXPro-55Rg.ttf);
}

@import "tailwindcss";

@import "tw-animate-css";

@theme {
    --font-grotesk: Grotesk, "sans-serif";
    --color-primary: #1D1D1F;
    --color-secondary: #FF6E01;
    --color-bgWhite: #F5F5F5;
    --color-gray: #181818;
    --color-gray2: #181818;
}

* {
    font-family: var(--font-grotesk);
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

h2 {
    font-size: 35px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    font-weight: 700;
}

p, li {
    font-size: 17px;
    font-weight: 400;
}


/* Large screens (lg) */
@media (max-width: 1024px) {
    h1 {
        font-size: 35px;
        font-weight: 900;
    }

    h2 {
        font-size: 30px;
        font-weight: 700;
    }

    h3 {
        font-size: 25px;
        font-weight: 700;
    }

    p, li {
        font-size: 16px;
    }

}

/* Medium screens (md) */
@media (max-width: 768px) {
    h1 {
        font-size: 30px;
        font-weight: 900;
    }

    h2 {
        font-size: 28px;
        font-weight: 700;
    }

    h3 {
        font-size: 24px;
        font-weight: 700;
    }

    p, li {
        font-size: 15px;
    }
}

/* lgall screens (lg) */
@media (max-width: 480px) {
    h1 {
        font-size: 25px;
        font-weight: 900;
    }

    h2 {
        font-size: 23px;
        font-weight: 700;
    }

    h3 {
        font-size: 20px;
        font-weight: 700;
    }

    p, li {
        font-size: 14px;
    }
}